:root {
    --cell: 44px;
}

/* base cell style */
#board-container > div {
    width: var(--cell);
    height: var(--cell);
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.cell-0 {
    background-image: url('../assets/0.svg');
}

.cell-1 {
    background-image: url('../assets/1.svg');
}

.cell-2 {
    background-image: url('../assets/2.svg');
}

.cell-3 {
    background-image: url('../assets/3.svg');
}

.cell-4 {
    background-image: url('../assets/4.svg');
}

.cell-5 {
    background-image: url('../assets/5.svg');
}

.cell-6 {
    background-image: url('../assets/6.svg');
}

.cell-7 {
    background-image: url('../assets/7.svg');
}

.cell-8 {
    background-image: url('../assets/8.svg');
}

.cell-flag {
    background-image: url('../assets/flag.svg');
}

.cell-flag-wrong {
    background-image: url('../assets/flag_wrong.svg');
}

.cell-mine {
    background-image: url('../assets/mine.svg');
}

.cell-mine-red {
    background-image: url('../assets/mine_red.svg');
}

.cell-closed {
    background-image: url('../assets/closed.svg');
}

.cell-solved-mine,
.cell-solved-safe {
    position: relative;
    overflow: hidden; 
}

.cell-solved-mine::after,
.cell-solved-safe::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.25;
    pointer-events: none;
}

.cell-solved-mine::after {
    background-color: red;
}

.cell-solved-safe::after {
    background-color: rgb(0, 230, 0);
}

.cell-probability {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: pointer;
}
