:root {
    --cell: 44px;
}

.cell {
    width: var(--cell);
    height: var(--cell);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.cell-0 {
    background-image: url('../assets/0.svg');
}

.cell-1 {
    background-image: url('../assets/1.svg');
}

.cell-2 {
    background-image: url('../assets/2.svg');
}

.cell-3 {
    background-image: url('../assets/3.svg');
}

.cell-4 {
    background-image: url('../assets/4.svg');
}

.cell-5 {
    background-image: url('../assets/5.svg');
}

.cell-6 {
    background-image: url('../assets/6.svg');
}

.cell-7 {
    background-image: url('../assets/7.svg');
}

.cell-8 {
    background-image: url('../assets/8.svg');
}

.cell-flag {
    background-image: url('../assets/flag.svg');
}

.cell-mine {
    background-image: url('../assets/mine.svg');
}

.cell-mine-red {
    background-image: url('../assets/mine_red.svg');
}

.cell-closed {
    background-image: url('../assets/closed.svg');
}

/* .cell-solved-mine { border: 3px solid red; } */
/* .cell-solved-safe { border: 3px solid rgb(0, 230, 0); } */

.cell-solved-mine,
.cell-solved-safe {
    position: relative;
    overflow: hidden; 
}

.cell-solved-mine::after,
.cell-solved-safe::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.25;
    pointer-events: none;
}

.cell-solved-mine::after {
    background-color: red;
}

.cell-solved-safe::after {
    background-color: rgb(0, 230, 0);
}

