@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    /* font-family: "Codystar", sans-serif; */
    /* font-weight: 400; */
    /* font-style: normal; */
    /* text-shadow: 0 0 2px; */
    /* -webkit-text-stroke: 0.4px currentColor; */
}

@font-face {
    font-family: 'mine-sweeper';
    src: url('../assets/mine-sweeper.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; 
}

:root { 
    --soft-underline-color: rgba(255, 255, 255, 0.5);
    --white-grey: rgb(230, 230, 230);
    --medium-grey: rgb(210, 210, 210);
    --dim-grey: rgb(180, 180, 180);
}

.height-100 { height: 100%; }

.gap-5 { gap: 5px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px }
.gap-25 { gap: 25px }

.align-items-center { align-items: center; }
.align-items-start { align-items: flex-start; }

.align-self-start { align-self: flex-start; }
.align-self-center { align-self: center; }
.align-self-end { align-self: flex-end; }

.justify-content-center { justify-content: center; }
.justify-content-start { justify-content: flex-start; }
.justify-content-end { justify-content: flex-end; }

.justify-self-center { justify-self: center; }
.justify-self-start { justify-self: flex-start; }
.justify-self-end { justify-self: flex-end; }

.col-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

#main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#top-bar {
    position: absolute;
    display: grid;
    grid-template-columns: 15% 50% 15%;
    top: 20px;
    right: 0; left: 0;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 14px;
}

.top-bar-block:nth-child(2) {
    /* padding-bottom: 7px; */
}

.top-bar-block:nth-child(3n + 1) {
    justify-self: flex-start;
}
.top-bar-block:nth-child(3n + 2) {
    justify-self: center;
}
.top-bar-block:nth-child(3n + 3) {
    justify-self: flex-end;
}

.top-bar-block {
    height: 100%;
    display: flex;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--cell));
    grid-template-rows: repeat(var(--rows), var(--cell));
    gap: 0;
    align-self: center;
    justify-self: center;
    transform-origin: top center;
    margin-top: 20px;
}

#bottom-bar {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    bottom: 50px;
    right: 0; left: 0;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    padding: 0;
}

.title-char {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(58, 64, 71);
    border: 2px solid rgb(32, 38, 45);
    font-family: 'mine-sweeper';
    font-size: 20px;
    text-shadow: none;
}

#main-content {
    align-items: center;
    justify-content: center;
}

#extra-content {
    align-items: center;
    justify-content: center;
}

#new-game-btn {
    color: var(--white-grey);
    font-size: 22px;
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}
#new-game-btn:hover {
    cursor: pointer;
    text-decoration-color: white;
}

#high-scores-btn {
    color: var(--white-grey);
    font-size: 22px;
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}
#high-scores-btn:hover {
    cursor: pointer;
    text-decoration-color: white;
}

#high-scores-title {
    font-size: 30px;
    color: gold;
    position: absolute;
    top: 60px;
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color)
}

.modal {
    display: none;
    position: absolute;
    z-index: 999;
    justify-content: center;
    align-items: center;
    padding: 150px 100px;
    border: 3px dashed var(--dim-grey);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
}

#close-high-scores-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--white-grey);
    font-size: 25px;
    cursor: pointer;
    font-family: Arial;
}

.high-scores-list {
    padding-top: 25px;
    gap: 10px;
    justify-content: center;
}

.high-score-board-type-txt {
    color: white; 
    font-size: 20px;
}

#viable-moves-txt {
    color: gold;
    font-size: 22px;
    padding-right: 5px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    border: 2px solid var(--medium-grey);
}

input[type="checkbox"]:checked { }

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid gold;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.difficulty-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy-txt {
    color: rgb(0, 255, 0);
}

.medium-txt {
    color: yellow;
}

.expert-txt {
    color: red;
}

.win-msg {
    color: gold;
}

.lose-msg {
    color: rgb(255, 0, 0);
}

#continue-btn {
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 15px black;
}

#continue-btn:hover {
    cursor: pointer;
    text-decoration-color: white;
}

#game-state-msg {
    font-size: 30px;
    text-shadow: 3px 3px 15px black;
}

.board-covered {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    background-color: black;
    padding: 10px;
}

.soft-underline {
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.difficulty-txt { 
    font-size: 30px;
}
.difficulty-txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none; 
    background: rgb(200, 200, 200);
    cursor: pointer;
    border: none;
    outline: none; 
    margin-top: 4px;
    height: 8px;
    width: 15vw;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;          
    height: 20px;
    border-radius: 0;   
    background-image: url('../assets/closed.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    cursor: pointer;
    border: none;
}

.slider-container {
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.slider-txt {
    font-size: 23px;
    color: white;
    padding-right: 7px;
}

.slider-value-input {
    font-size: 23px;
    color: white;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: var(--dim-grey);
    text-align: center;
    width: calc(23px * 2 + 5px);
    font-family: 'Times New Roman';
}

#mines-slider::-webkit-slider-thumb {
    background-image: url('../assets/mine.svg'); 
}

#game-info-container {
    justify-content: space-around;
    align-self: center;
    border: 2px dashed rgb(140, 140, 140);
    padding: 4px 0;
    width: 255px;
}

.game-info-txt {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    min-width: 50%;
    max-width: 50%;
}

.v-line-break {
    border-right: 2px dashed grey;
}

.h-line-break {
    border-top: 2px dashed grey;
    width: 80%;
}

.flag-img {
    width: 20px;
    height: 20px;
    vertical-align: middle; 
    margin-bottom: 2px;
    margin-right: 4px;
}

#pause-btn {
    font-size: 25px;
    min-width: 25px;
    max-width: 25px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--dim-grey);
}
#pause-btn:hover {
    color: white;
    cursor: pointer;
}

#game-paused-container {
    display: none;
    background-color: transparent;
}
#pause-msg {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 0 black;
}
