:root { 
    --cell: 44px;
    --soft-underline-color: rgba(255, 255, 255, 0.5);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#top-bar {
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 20px;
    font-size: 24px;
    color: white;
}

#bottom-bar {
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: space-between;
    bottom: 0;
    height: 80px;
}

p {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 30px;
}

.top-bar-item {
    display: flex;
    align-self: center;
    align-items: ceneter;
    justify-content: center;
}

#main-content {
    align-items: center;
    justify-content: center;
    align-items: center;
}

#space-btn {
    color: rgb(230, 230, 230);
    font-size: 22px;
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}
#space-btn:hover {
    cursor: pointer;
    text-decoration-color: white;
}

#high-scores-title {
    font-size: 30px;
    color: gold;
    position: absolute;
    top: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(180, 180, 180);
}

#high-scores-btn {
    color: rgb(230, 230, 230);
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}
#high-scores-btn:hover {
    cursor: pointer;
    text-decoration-color: white;
}

#high-scores-modal {
    display: none;
    position: absolute;
    z-index: 999;
    min-height: 300px;
    max-height: 300px;
    min-width: 400px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}

#close-high-scores-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(230, 230, 230);
    font-size: 25px;
    cursor: pointer;
    font-family: Arial;
}

.high-scores-list {
    padding-top: 25px;
    gap: 10px;
    justify-content: center;
}

.high-score-board-type-txt {
    color: white; 
    font-size: 20px;
}

#viable-moves-txt {
    color: gold;
    font-size: 18px;
    padding-right: 3px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 4px;
}

input[type="checkbox"]:checked {
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    left: 5px;
    width: 2px;
    height: 6px;
    border: solid gold;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.col-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.difficulty-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-txt {
    font-size:
}

.easy-txt {
    color: rgb(0, 255, 0);
}

.medium-txt {
    color: yellow;
}

.expert-txt {
    color: red;
}

.win-msg {
    color: gold;
}

.lose-msg {
    color: rgb(255, 0, 0);
}

#continue-btn {
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 15px black;
}

#continue-btn:hover {
    cursor: pointer;
    text-decoration-color: white;
}

#game-state-msg {
    font-size: 30px;
    text-shadow: 3px 3px 15px black;
}

#game-over-container {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    background-color: black;
    padding: 10px;
}

.soft-underline {
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.difficulty-txt { 
    font-size: 30px;
}
.difficulty-txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--cell));
    grid-template-rows: repeat(var(--rows), var(--cell));
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    justify-content: center;
}

.side-panel {
    position: absolute;
    color: white;
    font-size: 18px;
    padding: 90px 50px;
    border: 3px solid white;
    max-height: 100px;
}

#left-panel {
    top: 50%;
    left: 50%;
    left: 20px;
}

#right-panel {
    top: 50%;
    left: 50%;
    right: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;          
    height: 20px;
    border-radius: 0;   
    background-image: url('./assets/closed.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    cursor: pointer;
    border: none;
}

#mines-slider::-webkit-slider-thumb {
    background-image: url('./assets/mine.svg'); 
}

#stage {
  display: grid;
  grid-template-columns: 260px auto 260px;
  gap: 24px;
  align-items: start;
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none; 
    background: rgb(200, 200, 200);
    cursor: pointer;
    border: none;
    outline: none; 
    margin-top: 9px;
    height: 8px;
    width: 180px;
}

#game-info-container {
    justify-content: space-between;
    align-self: center;
    border: 1px solid rgb(140, 140, 140);
    padding: 4px 10px;
    width: 215px;
}

.vertical-line-break {
    border-right: 1px solid grey;
    margin: 0 10px;
}

.flag-img {
    width: 20px;
    height: 20px;
    vertical-align: middle; 
    margin-bottom: 2px;
    margin-right: 4px;
}

.game-info-txt {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#timer {
    font-weight: bold;
}

#flags-left {
    font-weight: bold;
}

.slider-container {
    padding: 0 40px 0 40px;
}

.slider-txt {
    font-size: 23px;
    color: white;
    padding: 0 5px 0 5px;
}

.slider-value-txt {
    font-size: 23px;
    color: white;
    padding-left: 8px;
}

.cell {
    box-sizing: border-box;
    width: var(--cell);
    height: var(--cell);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.cell-0 {
    background-image: url('./assets/0.svg');
}

.cell-1 {
    background-image: url('./assets/1.svg');
}

.cell-2 {
    background-image: url('./assets/2.svg');
}

.cell-3 {
    background-image: url('./assets/3.svg');
}

.cell-4 {
    background-image: url('./assets/4.svg');
}

.cell-5 {
    background-image: url('./assets/5.svg');
}

.cell-6 {
    background-image: url('./assets/6.svg');
}

.cell-7 {
    background-image: url('./assets/7.svg');
}

.cell-8 {
    background-image: url('./assets/8.svg');
}

.cell-flag {
    background-image: url('./assets/flag.svg');
}

.cell-mine {
    background-image: url('./assets/mine.svg');
}

.cell-mine-red {
    background-image: url('./assets/mine_red.svg');
}

.cell-closed {
    background-image: url('./assets/closed.svg');
}

.cell-solved-mine {
    border: 3px solid red;
    /* transition: border 0.2s ease-in-out; */
}

.cell-solved-safe {
    border: 3px solid rgb(0, 230, 0);
    /* transition: border 0.2s ease-in-out; */
}

