:root { 
    --cell: 44px;
    --soft-underline-color: rgba(255, 255, 255, 0.5);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.col-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.txt {
    font-size: 20px;
    color: white;
}

.easy-txt {
    color: rgb(0, 255, 0);
}

.medium-txt {
    color: yellow;
}

.expert-txt {
    color: red;
}

.win-msg {
    color: gold;
}

.lose-msg {
    color: rgb(255, 0, 0);
}

.continue-btn {
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}
.continue-btn:hover {
    cursor: pointer;
    text-decoration-color: white;
}

.soft-underline {
    text-decoration: underline;
    text-decoration-color: var(--soft-underline-color);
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.difficulty-txt { }
.difficulty-txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--cell));
    grid-auto-rows: repeat(var(--rows), var(--cell));
    gap: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;          
    height: 15px;
    border-radius: 0;   
    background-image: url('./assets/closed.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    cursor: pointer;
    border: none;
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none; 
    background: rgb(200, 200, 200);
    cursor: pointer;
    border: none;
    outline: none; 
    margin-top: 30px;
    height: 5px;
}

.zoom-slider-container {
    position: absolute;
    top: 0;
    z-index: 999;
    text-shadow: 0px 0px 8px black;
}

.cell {
    box-sizing: border-box;
    width: var(--cell);
    height: var(--cell);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.cell-0 {
    background-image: url('./assets/0.svg');
}

.cell-1 {
    background-image: url('./assets/1.svg');
}

.cell-2 {
    background-image: url('./assets/2.svg');
}

.cell-3 {
    background-image: url('./assets/3.svg');
}

.cell-4 {
    background-image: url('./assets/4.svg');
}

.cell-5 {
    background-image: url('./assets/5.svg');
}

.cell-6 {
    background-image: url('./assets/6.svg');
}

.cell-7 {
    background-image: url('./assets/7.svg');
}

.cell-8 {
    background-image: url('./assets/8.svg');
}

.cell-flag {
    background-image: url('./assets/flag.svg');
}

.cell-mine {
    background-image: url('./assets/mine.svg');
}

.cell-mine-red {
    background-image: url('./assets/mine_red.svg');
}

.cell-closed {
    background-image: url('./assets/closed.svg');
}
